<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Изменение яхты</title>
</head>
<body class="container">
    <form method="POST">
        {% csrf_token %}
         <p>
            <label>Введите тип</label><br>
            <input type="text" name="type" value="{{person.type}}" />
        </p>
        <p>
            <label>Введите модель</label><br>
            <input type="text" name="model" value="{{person.model}}" />
        </p>
         <p>
            <label>Введите количество кают</label><br>
            <input type="text" name="max_human" value="{{person.max_human}}" />
        </p>
         <p>
            <label>Введите вместимость</label><br>
            <input type="text" name="cabin" value="{{person.cabin}}" />
        </p>
        <p>
            <label>Введите год выпуска</label><br>
            <input type="text" name="year" value="{{person.year}}" />
        </p>
        <p>
            <label>Введите длину</label><br>
            <input type="email" name="length" value="{{person.length}}" />
        </p>
        <p>
            <label>Введите мотор</label><br>
            <input type="text" name="motor" value="{{person.motor}}" />
        </p>
        <p>
            <label>Введите клуб</label><br>
            <input type="text" name="club" value="{{person.club}}" />
        </p>
        <p>
            <label>Введите производителя</label><br>
            <input type="text" name="manufacturer" value="{{person.manufacturer}}" />
        </p>
        <p>
            <label>Введите стоимость за сутки</label><br>
            <input type="text" name="paid" value="{{person.paid}}" />
        </p>
        <p>
            <label>Введите владельца</label><br>
            <input type="text" name="owner" value="{{person.owner}}" />
        </p>
        <input type="submit" value="Сохранить" >

    </form>
</body>
</html>