<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Изменение работника</title>
</head>
<body class="container">
    {% if people.count > 0 %}
    <h2>Список пользователей</h2>
    <table>
        <thead><th>Id</th><th>Фамилия</th><th>Имя</th><th>Должность</th><th>Зарплата</th><th>Телефон</th><th>Почта</th><th>Клуб</th><th>Менеджер</th><th></th></thead>
        {% for person in people %}
        <tr>
            <td>{{ person.id }}</td>
            <td>{{ person.surname }}</td>
            <td>{{ person.firstname }}</td>
            <td>{{ person.position }}</td>
            <td>{{ person.salary }}</td>
            <td>{{ person.telno }}</td>
            <td>{{ person.email }}</td>
            <td>{{ person.club }}</td>
            <td>{{ person.manager }}</td>
            <td><a href="edit_worker/{{person.id}}">Изменить</a> | <a href="delete_worker/{{person.id}}">Удалить</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>